{
    "env": {
        "browser": true,
        "es2020": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:@typescript-eslint/strict",
        "plugin:import/recommended",
        "plugin:import/typescript",
        "prettier"
    ],
    "plugins": ["import", "@typescript-eslint", "unused-imports"],
    "settings": {
        "import/resolver": {
            "typescript": true,
            "node": true
        },
        "react": {
            "version": "detect"
        }
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": ["tsconfig.json"]
    },
    "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "no-else-return": [
            "error",
            {
                "allowElseIf": false
            }
        ],
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_"
            }
        ],
        "unused-imports/no-unused-imports-ts": "error",
        "@typescript-eslint/consistent-type-definitions": ["warn", "type"],
        "eqeqeq": ["error", "always"],
        "import/order": [
            "error",
            {
                "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
                "newlines-between": "never",
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                }
            }
        ]
    }
}
