.heading-1 {
  font-size: clamp(2.084rem, calc(1.973vw + 1.69rem), 3.662rem);
  line-height: 1.15;
}

.heading-2 {
  color: blue;
}

.heading-3 {
  color: green;
}

.heading-4 {
  color: red;
}

.heading-5 {
  color: purple;
}

.heading-6 {
  color: yellow;
}

.quote {
  color: orange;
}

.body {
  color: pink;
}

.body-small {
  color: brown;
}
