@font-family-base:
  Amsterdam Sans,
  Arial,
  sans-serif;
@font-weight-normal: normal;
@font-weight-bold: bold;

// Colors
@primary-black: #000000;
@primary-white: #ffffff;
@primary-blue: #004699;
@primary-red: #ec0000;
@dark-blue: #102e62;
@orange: #ff9100;
@yellow: #ffe600;
@green: #bed200;
@dark-green: #00a03c;
@blue: #009de6;
@purple: #a00078;
@magenta: #e50082;
@neutral-grey1: #e8e8e8;
@neutral-grey2: #bebebe;
@neutral-grey3: #767676;

// Breakpoints
@bp-mobile: 320px;
@bp-tablet: 600px;
@bp-desktop-md: 1024px;
@bp-desktop-lg: 1360px;
@bp-desktop-xl: 1920px;

// Media queries
@mq-from-mobile: ~'only screen and (min-width: @{bp-mobile})';
@mq-from-tablet: ~'only screen and (min-width: @{bp-tablet})';
@mq-from-desktop-md: ~'only screen and (min-width: @{bp-desktop-md})';
@mq-from-desktop-lg: ~'only screen and (min-width: @{bp-desktop-lg})';
@mq-from-desktop-xl: ~'only screen and (min-width: @{bp-desktop-xl})';

// Height and Widths
@header-height: 80px;
